{# {% extends 'base.twig' %}

{% block title %}
  {{ post.title }} - Mon Blog
{% endblock %}

{% block content %}
  <div class="container masthead">
    <h1>{{ post.title }}</h1>
    <p>{{ post.content }}</p>

    <h2>Commentaires</h2>
    {% for comment in comments %}
      <div class="comment">
        <p>{{ comment.content }}</p>
      </div>
    {% endfor %}

    <h2>Ajouter un commentaire</h2>
    <form action="{{ '/add_comment?post_id=' ~ post.id }}" method="POST">
      <div class="form-group mb-3">
        <label for="content">Commentaire</label>
        <textarea name="content"
          id="content"
          rows="8"
          class="form-control"
          required></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Envoyer</button>
    </form>
  </div>
{% endblock %} #}
